<div *ngIf="isLoginErr" class="red-text center error-message">
    <i class="form-control">error</i>in correct username or password
</div>
<form #form="ngForm" class="container" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="UserName">UserName</label>
      <input type="text" class="form-control" name="userName"
       [(ngModel)]="loginapi.loginForm.userName">
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" name="Password"
         [(ngModel)]="loginapi.loginForm.Password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
